language: python
sudo: false

env:
  - LUA="lua=5.1"
  - LUA="lua=5.2"
  - LUA="lua=5.3"
  - LUA="luajit=2.0"
  - LUA="luajit=2.1"

before_install:
  - pip install hererocks
  - hererocks base -r^ --$LUA
  - export PATH=$PATH:$PWD/base/bin # Add directory with all installed binaries to PATH
  - luarocks install busted
  - luarocks install luacov
  - luarocks install luacov-coveralls

script:
  - busted -v -c

after_success:
  - luacov-coveralls

branches:
  except:
    - gh-pages

notifications:
  email:
    on_success: change
    on_failure: always
